<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginadmin</servlet-name>
        <servlet-class>loginadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginngo</servlet-name>
        <servlet-class>loginngo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginvolunteer</servlet-name>
        <servlet-class>loginvolunteer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginadmin</servlet-name>
        <url-pattern>/loginadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginngo</servlet-name>
        <url-pattern>/loginngo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginvolunteer</servlet-name>
        <url-pattern>/loginvolunteer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
